.App {
  display: flex;
  flex-wrap: wrap;
  background-color:lightgrey;
}

.flagImage {
  width: 250px;
  margin: 0;
  box-sizing: border-box;
}

.CountryCard {
  display: flex;;
  flex-direction: column;
  margin: 2rem;
  background-color: whitesmoke;
  max-width: 250px;
}

.GeneralInfo {
  margin: 0 2rem 2rem 2rem;
}

.CountryName {
  font-size: larger;
  margin: 2rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.CardDiv {
  display: flex;
  flex-wrap: wrap;
  background-color:lightgrey;
}

.searchInput {
  width: 25rem;
  height: 32px;
  margin: 25px 0 10px 10em;
  font-size: 24px;
  font-style: italic;
  border-radius: 5px;
  padding-left: 10px;
}
